footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    height: 190px;
    & .footer-content {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        gap: 7px;
    }
    & .footer-link {
        color: white;
    }
    & p {
        font-family: 'Shrikhand', cursive;
        width: 137px;
        height: 27px;
        font-size: 18px;
        margin-top: 22px;
    }
}

footer img{
    width: 11px;
    height: 13px;  
    margin-right: 8px;  
    color: white;
}
