@charset "UTF-8";
/************ General ***********/
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC ;
  --second-color:#FF79DA ;
  --third-color:#99E2D0 ;
  --main-bg-color:#F6F6F6;
  --linear-gradient:linear-gradient(var(--second-color), var(--main-color));
}

html {
  font-size: 62.5%;
  margin-left: -8px;
  margin-top: -8px;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

body {
  display: flex;
  flex-direction: column;
}

.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.6rem;
  background: var(--linear-gradient);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: ease-in-out 300ms;
}
.button:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

/* localisation */
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  background: #EAEAEA;
}
.localisation img {
  padding-right: 17px;
}

/* réservez le menu */
.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-bg-color);
  text-align: center;
  height: 287px;
}
.reservez h1 {
  width: 275px;
  margin-top: 40px;
}
.reservez p {
  margin-top: 0px;
  margin-bottom: 27px;
  width: 315px;
  height: 46px;
  font-size: 16px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 440px;
}
.fonctionnement h1 {
  margin-left: 20px;
  margin-top: 48px;
}
.fonctionnement button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 72px;
  width: 322px;
  border-radius: 20px;
  border: none;
  margin: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  padding-left: 34.5px;
  font-weight: 700;
  margin-left: 35px;
}
.fonctionnement .fonctionnement-rank {
  position: absolute;
  left: -11px;
  background-color: var(--main-color);
  height: 24px;
  width: 24px;
  border-radius: 15px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* Restaurants */
.restaurants {
  height: 1300px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restaurants .restaurants-title {
  margin-right: 200px;
  margin-top: 36px;
}
.restaurants a {
  color: black;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 340px;
  height: 251px;
  position: relative;
  border-radius: 15px;
  background-color: white;
}
.card .card-image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: 50% 80%;
}
.card .img-2 {
  object-position: 50% 60%;
}
.card .nouveau {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: var(--third-color);
  color: #008766;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.card .card-content {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.card h3 {
  margin-bottom: 0px;
  margin-top: 16px;
}
.card .quartier {
  margin-top: 5px;
}
.card .card-fav img {
  position: absolute;
  right: 25px;
  bottom: 33px;
  width: 22px;
  height: 21px;
}

/************************************************************************ RESTAURANTS MENU ****************/
.img-menu {
  width: 100%;
  height: 275px;
  position: relative;
}

main {
  margin-bottom: -50px;
}

.menu-content {
  margin-left: 13px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  background-color: var(--main-bg-color);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.menu h1 {
  font-family: shrikhand;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.menu .card-fav {
  position: absolute;
  top: 40px;
  right: 41px;
}
.menu .menu-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 40px;
}
.menu .menu-card {
  height: 69px;
  background-color: white;
  border-radius: 15px;
  margin-top: 12px;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
}
.menu .menu-card h3 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 18px;
}
.menu .menu-card p {
  margin-top: 0;
  margin-left: 15px;
  font-size: 15px;
}
.menu .price {
  position: absolute;
  right: 15px;
  bottom: 0px;
  font-weight: 700;
  transition: 400ms;
}

.order-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 130px;
}
.order-button .button {
  font-size: 16px;
}

/*  HEART ANIMATION */
.heart-color:hover {
  opacity: 1;
}

.heart-color {
  opacity: 0;
  position: absolute;
  right: 0;
}

/* CHECK MARK AIMATION */
.box {
  height: 69px;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}
.box img {
  width: 0;
}

.menu-card:hover .box {
  transform: translate(100%) scaleX(2, 2);
  background-color: var(--third-color);
  width: 59px;
}
.menu-card:hover .box img {
  width: 20px;
}

.menu-card:hover .price {
  transform: translate(-220%);
}

.menu-card:hover .card-content {
  display: inline-block;
  width: 235px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

/* Restaurant - La note enchantée */
img {
  object-fit: cover;
  object-position: 10% 40%;
}

/**************************************************************************************** MEDIA QUERIES ****************/
@media (min-width: 375px) {
  .restaurants-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .reservez {
    height: 240px;
  }
  .reservez p {
    width: 531px;
    height: 37px;
  }
  .reservez h1 {
    width: 645px;
  }
  .fonctionnement {
    height: 228px;
  }
  .fonctionnement h1 {
    padding-left: 0;
  }
  .fonctionnement .fonctionnement-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnement .fonctionnement-button button {
    width: 200px;
  }
  .restaurants {
    height: 668px;
    align-items: center;
  }
  .restaurants .restaurants-title {
    padding-left: 200px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .restaurants .restaurants-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 30px;
  }
  .restaurants .restaurants-card .card {
    width: 350px;
    height: 250px;
  }
  .restaurants .restaurants-card .card-content {
    height: 100px;
  }
  /******************************************************** media queries for: delice, enchante, francaise and palette */
  .img-menu {
    width: 100%;
    height: 400px;
    object-position: 50% 60%;
    object-fit: cover;
  }
  .menu-box {
    width: 100%;
    height: 1221px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu {
    width: 100%;
    height: 1221px;
    margin-bottom: -50px;
    align-items: center;
  }
  .menu h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu .menu-card {
    width: 634px;
  }
  .menu:hover .card-content {
    width: 400px;
  }
}
@media (min-width: 1124px) {
  .reservez {
    height: 240px;
  }
  .reservez p {
    width: 531px;
    height: 37px;
  }
  .reservez h1 {
    width: 645px;
  }
  .fonctionnement {
    height: 228px;
  }
  .fonctionnement h1 {
    padding-left: 0;
  }
  .fonctionnement .fonctionnement-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnement .fonctionnement-button button {
    width: 322px;
  }
  .restaurants {
    height: 668px;
    align-items: start;
  }
  .restaurants .restaurants-title {
    padding-left: 180px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .restaurants .restaurants-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 95px;
    row-gap: 50px;
  }
  .restaurants .restaurants-card .card {
    width: 490px;
    height: 251px;
  }
  /***************************************************** media queries for: delice, enchante, francaise and palette */
  .img-menu {
    width: 100%;
    height: 400px;
    object-position: 50% 60%;
    object-fit: cover;
  }
  .menu-box {
    width: 100%;
    height: 1221px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu {
    width: 1055px;
    height: 1221px;
    margin-bottom: -50px;
    align-items: center;
  }
  .menu .card-fav {
    right: 350px;
  }
  .menu .menu-card {
    width: 634px;
  }
  .menu:hover .card-content {
    width: 400px;
  }
}
/************************************************************************ LOADER ************************/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--linear-gradient);
  height: 100%;
  width: 100%;
  z-index: 1;
  gap: 3px;
  font-size: 2rem;
  animation: load 5s forwards;
}
.loader .bar1, .loader .bar2, .loader .bar3 {
  height: 50px;
  width: 20px;
  background-color: black;
  animation: grow 1.5s infinite;
}
.loader .bar2 {
  animation-delay: 0.3s;
}
.loader .bar3 {
  animation-delay: 0.6s;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes load {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
