header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  & img {
    width: 162px;
  }
  & .arrow {
    height: 16px;
    width: 17px;
    position: absolute;
    left: 23px;
    bottom: 23px;
  }
}

/* MEDIA QUERIES */

@media (min-width:1024px) {
}

@media (min-width:768px) {
  
}