@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
header img {
  width: 162px;
}
header .arrow {
  height: 16px;
  width: 17px;
  position: absolute;
  left: 23px;
  bottom: 23px;
}

html {
  margin-left: -8px;
  margin-top: -8px;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p, a {
  font-size: 1.6rem;
}

/******************************************* localisation */
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  background: #e9e9e9;
}
.localisation img {
  padding-right: 17px;
}

/******************************************* réservez le menu */
.reservez {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
  height: 287px;
}
.reservez h1 {
  width: 275px;
  margin-top: 40px;
  font-weight: 700;
}
.reservez p {
  margin-top: 0px;
  margin-bottom: 27px;
  width: 315px;
  height: 46px;
  font-size: 16px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 440px;
}
.fonctionnement h1 {
  margin-left: -150px;
  margin-top: 48px;
}
.fonctionnement button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  height: 72px;
  width: 322px;
  border-radius: 20px;
  border: none;
  margin: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-left: 34.5px;
  font-weight: 700;
  margin-left: 35px;
  margin-bottom: 25px;
}
.fonctionnement .fonctionnement-rank {
  position: absolute;
  left: -11px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/******************************************* Restaurants */
.restaurants {
  height: 1200px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.restaurants .restaurants-title {
  margin-right: 200px;
  margin-top: 0px;
}
.restaurants a {
  color: black;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 340px;
  height: 251px;
  position: relative;
  border-radius: 15px;
  background-color: white;
}
.card .card-image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}
.card .img-2 {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
.card .nouveau {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.card .card-content {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.card h3 {
  margin-bottom: 0px;
  margin-top: 16px;
}
.card .quartier {
  margin-top: 5px;
}
.card .card-fav img {
  position: absolute;
  right: 25px;
  bottom: 33px;
  width: 22px;
  height: 21px;
}

/**************************************************************************************** MEDIA QUERIES ****************/
/******************************************* media queries for: MOBILE */
@media (min-width: 375px) {
  .restaurants-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
/****************************************** media queries for: TABLETTE */
@media (min-width: 768px) {
  .reservez {
    height: 240px;
  }
  .reservez p {
    width: 531px;
    height: 37px;
  }
  .reservez h1 {
    width: 645px;
    font-size: 40px;
  }
  .fonctionnement {
    height: 228px;
  }
  .fonctionnement h1 {
    padding-left: 0;
    margin-left: 10px;
  }
  .fonctionnement .fonctionnement-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement .fonctionnement-button button {
    width: 200px;
  }
  .restaurants {
    height: 668px;
  }
  .restaurants .restaurants-title {
    padding-left: 200px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .restaurants .restaurants-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
  }
  .restaurants .restaurants-card .card {
    width: 350px;
    height: 250px;
  }
  .restaurants .restaurants-card .card-content {
    height: 100px;
  }
}
/******************************************************** media queries for: LAPTOP */
@media (min-width: 1124px) {
  .reservez {
    height: 240px;
  }
  .reservez p {
    width: 531px;
    height: 37px;
  }
  .reservez h1 {
    width: 845px;
    font-size: 40px;
  }
  .fonctionnement {
    height: 228px;
  }
  .fonctionnement h1 {
    padding-left: 0;
  }
  .fonctionnement .fonctionnement-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement .fonctionnement-button button {
    width: 322px;
  }
  .restaurants {
    height: 668px;
    align-items: start;
  }
  .restaurants .restaurants-title {
    padding-left: 180px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .restaurants .restaurants-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 95px;
    row-gap: 50px;
  }
  .restaurants .restaurants-card .card {
    width: 490px;
    height: 251px;
  }
}
footer {
  display: flex;
  background: #444444;
  color: white;
  height: 190px;
  margin-bottom: -8px;
}
footer .footer-box-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}
footer .footer-content {
  margin-left: 25px;
  gap: 7px;
}
footer .footer-link {
  color: white;
}
footer p {
  font-family: "Shrikhand", sans-serif, cursive;
  width: 137px;
  height: 27px;
  font-size: 18px;
  margin-top: 22px;
}

footer img {
  width: 11px;
  height: 13px;
  margin-right: 8px;
  color: white;
}

/********************************************************************************************************** MEDIA QUERIES */
/**************************************** media queries for: FOOTER (tablette) */
@media (min-width: 768px) {
  footer {
    position: relative;
    height: 114px;
    margin-top: 50px;
  }
  footer .footer-content {
    height: 114px;
  }
  footer p {
    position: absolute;
    right: 0px;
    bottom: 8px;
  }
  footer .footer-box-link {
    position: absolute;
    flex-direction: row;
    width: 700px;
    right: 100px;
    bottom: 30px;
  }
  footer .footer-box-link .footer-link {
    margin-left: 20px;
  }
}
/**************************************** media queries for: FOOTER (LAPTOP) */
@media (min-width: 1124px) {
  footer {
    position: relative;
    height: 114px;
    margin-top: 50px;
  }
  footer .footer-content {
    height: 114px;
  }
  footer p {
    position: absolute;
    right: 0px;
    bottom: 8px;
  }
  footer .footer-box-link {
    position: absolute;
    flex-direction: row;
    right: 210px;
    bottom: 30px;
  }
  footer .footer-box-link .footer-link {
    margin-left: 20px;
  }
}
/****************************  LOADER ANIMATION */
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 100%;
  width: 100%;
  z-index: 1;
  gap: 3px;
  font-size: 3.2rem;
  animation: load 2s forwards;
}
.loader .bar1, .loader .bar2, .loader .bar3 {
  height: 50px;
  width: 20px;
  background-color: black;
  animation: grow 1.5s infinite;
}
.loader .bar2 {
  animation-delay: 0.3s;
}
.loader .bar3 {
  animation-delay: 0.6s;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes load {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
}
/****************************  BUTTON */
.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 300ms;
}
.button:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
}

/****************************  HEART ANIMATION */
.heart-color {
  opacity: 0;
  position: absolute;
  right: 0;
}

.heart-color:hover {
  opacity: 1;
}

/****************************  CHECK MARK AIMATION */
.box {
  height: 69px;
  width: 59px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(59px);
  overflow: hidden;
  transition: 400ms;
}

.menu-card:hover .box {
  background-color: #99E2D0;
  transform: translate(0);
}

.menu-card:hover .price {
  transform: translate(-220%);
}

.menu-card:hover .card-content {
  display: inline-block;
  width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .menu-card:hover .card-content {
    width: 400px;
  }
}
.mc1 {
  animation: slide 0.2s;
}

.mc2 {
  animation: slide 0.4s;
}

.mc3 {
  animation: slide 0.6s;
}

.mc4 {
  animation: slide 0.8s;
}

.mc5 {
  animation: slide 1s;
}

.mc6 {
  animation: slide 1.2s;
}

.mc7 {
  animation: slide 1.4s;
}

.mc8 {
  animation: slide 1.6s;
}

.mc9 {
  animation: slide 1.8s;
}

.mc10 {
  animation: slide 2s;
}

@keyframes slide {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/********************************** RESTAURANTS MENU ****************/
.img-menu {
  width: 100%;
  height: 375px;
  position: relative;
}

main {
  margin-bottom: -50px;
}

.menu-content {
  margin-left: 13px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  background-color: #F6F6F6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.menu .card-fav {
  position: absolute;
  top: 40px;
  right: 41px;
}
.menu .menu-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 40px;
}
.menu .menu-card {
  height: 69px;
  background-color: white;
  border-radius: 15px;
  margin-top: 12px;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.menu h3 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 18px;
}
.menu p {
  margin-top: 0;
  margin-left: 15px;
  font-size: 15px;
}

.price {
  position: absolute;
  right: 15px;
  bottom: 0px;
  font-weight: 700;
  transition: 400ms;
}

.order-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 130px;
}
.order-button .button {
  font-size: 16px;
}

/****************************  Restaurant - La note enchantée */
img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 40%;
     object-position: 10% 40%;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu .card-fav {
    position: absolute;
    top: 80px;
    right: 200px;
  }
  .img-menu {
    width: 100%;
    height: 400px;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu-box {
    width: 100%;
    height: 1221px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu {
    width: 100%;
    height: 1221px;
    margin-bottom: -50px;
  }
  .menu h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu .menu-card {
    width: 634px;
  }
  .menu:hover .card-content {
    width: 400px;
  }
}
@media (min-width: 1124px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu .card-fav {
    position: absolute;
    top: 80px;
    right: 350px;
  }
  .img-menu {
    width: 100%;
    height: 400px;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu-box {
    width: 100%;
    height: 1221px;
    margin-bottom: -50px;
  }
  .menu {
    width: 1055px;
    height: 1221px;
    margin-bottom: -50px;
  }
  .menu .card-fav {
    right: 350px;
  }
  .menu .menu-card {
    width: 634px;
  }
  .menu:hover .card-content {
    width: 400px;
  }
}/*# sourceMappingURL=styles.css.map */