footer {
    display: flex;
    background: darken($main-bg-color,70%);
    color: $white;
    height: 190px;
    margin-bottom: -8px;
    & .footer-box-link {
        @include flexColumn(flex-start,flex-start);
        gap: 7px;
    }
    & .footer-content {
        margin-left: 25px;
        gap: 7px;
    }
    & .footer-link {
        color: $white;
    }
    & p {
        font-family: $second-font, cursive;
        width: 137px;
        height: 27px;
        font-size: 18px;
        margin-top: 22px;
    }
}

footer img {
    width: 11px;
    height: 13px;  
    margin-right: 8px;  
    color: $white;
}

/********************************************************************************************************** MEDIA QUERIES */
/**************************************** media queries for: FOOTER (tablette) */
@include forTablet {
    footer{
        position: relative;
        height: 114px;
        margin-top: 50px;
        & .footer-content {
            height: 114px;
        }
        & p {
            position: absolute;
            right: 0px;
            bottom: 8px;
        }
        & .footer-box-link {
            position: absolute;
            flex-direction: row;
            width: 700px;
            right: 100px;
            bottom: 30px;
            & .footer-link {
            margin-left: 20px;
            }
        }
    }
}

/**************************************** media queries for: FOOTER (LAPTOP) */
@include forLaptop {
    footer{
        position: relative;
        height: 114px;
        margin-top: 50px;
        & .footer-content {
            height: 114px;
        }
        & p {
            position: absolute;
            right: 0px;
            bottom: 8px;
        }
        & .footer-box-link {
            position: absolute;
            flex-direction: row;
            right: 210px;
            bottom: 30px;
            & .footer-link {
            margin-left: 20px;
            }
        }
    }
}

