html {
  margin-left: -8px;
  margin-top: -8px;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

p, a {
  font-size: 1.6rem;
}

/******************************************* localisation */
.localisation {
  @include flexRow;
  max-height: 50px;
  background: darken($main-bg-color, 5%);
  & img {
    padding-right: 17px;
  }
}

/******************************************* réservez le menu */
.reservez {
  @include flexColumn($justify:flex-start, $align:center);
  background-color: $main-bg-color;
  text-align: center;
  height: 287px;
  & h1 {
    width: 275px;
    margin-top: 40px;
    font-weight: 700;
  }
  & p {
    margin-top: 0px;
    margin-bottom: 27px;
    width: 315px;
    height: 46px;
    font-size: 16px;
  }
}

.fonctionnement { 
  @include flexColumn($justify:flex-start, $align:center);
  height: 440px;
  & h1 {
    margin-left: -150px;
    margin-top: 48px;
  }
  & button {
    @include flexRowReverse($justify:flex-end, $align:center);
    gap: 30px;
    height: 72px;
    width: 322px;
    border-radius: 20px;
    border: none;
    margin: 12px;
    box-shadow: $shadow-second;
    position: relative;
    padding-left: 34.5px;
    font-weight: 700;
    margin-left: 35px;
    margin-bottom: 25px;
  }
  & .fonctionnement-rank {
    position: absolute;
    left: -11px;
    background-color: $main-color;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    color: $white;
    @include flexRow;
  }
  & .bt1:hover .fonctionnement-img {
    filter: $purple-filter
  }
  & .bt2:hover .fonctionnement-img {
    filter: $purple-filter
  }
  & .bt3:hover .fonctionnement-img {
    filter: $purple-filter
  }
  & .bt3 .fonctionnement-img {
    filter: $gray-filter
  }
}

/******************************************* Restaurants */
.restaurants {
  height: 1200px;
  padding-bottom: 100px;
  background-color: $main-bg-color;
  @include flexColumn;
  gap: 18px;
  & .restaurants-title {
    margin-right: 200px;
    margin-top: 0px;
    }
    & a {
      color: $black;
    }
}

  .restaurants-card {
    @include flexColumn;
    gap: 20px;
  }
  
.card {
  width: 340px;
  height: 251px;
  position: relative;
  border-radius: 15px;
  background-color: white;

  & .card-image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: 50% 80%;
  }
  & .img-2{
    object-position: 50% 60%;
  }
  & .nouveau {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: $third-color;
    color: $darkgreen;
    height: 29px;
    width: 80px;
    border-radius: 2px;
    @include flexRow;
    font-size: 14px;
    font-weight: 500;
  }
  & .card-content {
    margin-left: 10px;
    @include flexRow(flex-start, flex-start);
  }
  & h3 {
    margin-bottom: 0px;
    margin-top: 16px;
  }
  & .quartier {
    margin-top: 5px;
  }
  & .card-fav img{
    position: absolute;
    right: 25px;
    bottom: 33px;
    width: 22px;
    height: 21px;
  }
}


/**************************************************************************************** MEDIA QUERIES ****************/
/******************************************* media queries for: MOBILE */
@include forMobile {
  .restaurants-card {
    @include flexColumn;
     gap: 20px;
  }
}

/****************************************** media queries for: TABLETTE */
@include forTablet {
  .reservez {
    height: 340px;
    & p {
      width: 531px;
      height: 37px;
    }
    & h1 {
      width: 645px;
      font-size: 40px;
    }
  }

  .fonctionnement {
    height: 228px;
    & h1 {
      padding-left: 0;
      margin-left: 10px;
    }
    & .fonctionnement-button {
      @include flexRow;
      & button {
        width: 200px;
      }
    }
  }

  .restaurants {
    height: 668px;
    & .restaurants-title {
      padding-left: 200px;
      margin-top: 10px;
      margin-bottom: -10px;
    }
    & .restaurants-card {
      @include flexRow;
      flex-wrap: wrap;
      gap: 30px;
      row-gap: 30px;
      & .card {
        width: 350px;
        height: 250px;
      }
      & .card-content {
        height: 100px;
      }
    }
  }
}

/******************************************************** media queries for: LAPTOP */
@include forLaptop {
  .reservez {
    height: 300px;
    & p {
      width: 531px;
      height: 37px;
    }
    & h1 {
      width: 845px;
      font-size: 40px;
    }
  }

  .fonctionnement {
    height: 228px;
    & h1 {
      padding-left: 0;
    }
    & .fonctionnement-button {
      @include flexRow;
      & button {
        width: 322px;
      }
    }
  }

  .restaurants {
    height: 668px;
    align-items: start;
    & .restaurants-title {
      padding-left: 200px;
      margin-top: 10px;
      margin-bottom: -10px;
    }
    & .restaurants-card {
     @include flexRow;
      gap: 95px;
      row-gap: 50px;
      & .card {
        width: 490px;
        height: 251px;
      }
    }
  }
}






