header {
  position: relative;
  @include flexRow;
  height: 63px;
  & img {
    width: 162px;
  }
  & .arrow {
    height: 16px;
    width: 17px;
    position: absolute;
    left: 23px;
    bottom: 23px;
  }
}
