/****************************  BUTTON */
.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  background: $linear-gradient;
  color: $white;
  border: none;
  box-shadow: $shadow-light;
  transition: ease-in-out 300ms;
  &:hover {
    opacity: .7;
    box-shadow: $shadow-dark;
  }
}

.order-button {
  width: 186px;
}
