/****************************  CHECK MARK AIMATION */
.box {
  height: 69px;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: absolute;
  right: 0;
 @include flexRow;
  transition: 400ms;
  & img {
    width: 0;
  }
}

.menu-card {
  &:hover  .box {
    transform: translate(100%) scaleX(2,2);
      background-color: $third-color;
      width: 59px;
    & img {
      width: 20px;
    }
  }
}

.menu-card {
  &:hover  .price {
    transform: translate(-220%);
  }
}

.menu-card {
  &:hover  .card-content {
    display: inline-block;
    width: 235px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

@include forTablet {
  .menu-card {
    &:hover  .card-content {
    width: 400px;
    }
  }
}

