/****************************  CHECK MARK AIMATION */
.box {
  height: 69px;
  width: 59px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: absolute;
  right: 0;
 @include flexRow;
  transform: translate(59px);
  overflow: hidden;
  transition: 400ms;
}

.menu-card {
  &:hover  .box {
      background-color: $third-color;
      transform: translate(0);
  }
}

.menu-card {
  &:hover  .price {
    transform: translate(-220%);
  }
}

.menu-card {
  &:hover  .card-content {
    display: inline-block;
    width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include forTablet {
  .menu-card {
    &:hover  .card-content {
    width: 400px;
    }
  }
}

