/****************************  LOADER ANIMATION */
.loader {
 @include flexRow;
  position: fixed;
  background: $linear-gradient;
  height: 100%;
  width: 100%;
  z-index: 1;
  gap: 3px;
  font-size: 3.2rem;
  animation: load 2s forwards;
  & .bar1, .bar2, .bar3 {
    height: 50px;
    width: 20px;
    background-color: $black;
    animation: grow 1.5s infinite;
  }
  & .bar2 {
    animation-delay: 0.3s;
  }
  & .bar3 {
    animation-delay: 0.6s;
  }
}

@keyframes grow {
  0% {transform: scaleY(0); opacity: 0;}
  50% {transform: scaleY(1); opacity: 1;}
  100% {transform: scaleY(0); opacity: 0;}
}

@keyframes load {
  0% {transform: scale(1); opacity: 1;}
  50% {transform: scale(1); opacity: 1;}
  100% {transform: scale(1); opacity: 0; visibility: hidden;}
}

